.cardContainer {
  position: relative;
  display: inline-block;
}

.cardBadge {
  position: absolute;
  top: 10px;
  left: 10px;
}

.inspectionsBtn {
  float: right;
  margin-right: -8px;
  margin-top: -8px;
}
